* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
}

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0 5%;
    height: 100px;
    background-color: transparent;
}

nav .logo {
    font-family: 'Merienda One', cursive;
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 4rem;
    color: #fff;
}

nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links li {
    list-style: none;
}

nav .links a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    font-family: Montserrat;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

nav .links a:hover {
    color: rgba(255, 255, 255, 0.75);
    transition: .9s;
    text-decoration: underline;
}

nav.black {
    background: rgba(0, 0, 0, 0.699);
}

#nav-toggle {
    position: absolute;
    top: -100px;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

@media screen and (max-width: 768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, .8);
        overflow: hidden;
        box-sizing: border-box;
        transition: all .5s ease-in-out;
    }
    nav .links a {
        font-size: 20px;
    }
    nav :checked~.links {
        bottom: 0;
    }
    nav .icon-burger {
        display: block;
    }
    nav :checked~.icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked~.icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked~.icon-burger .line:nth-child(2) {
        opacity: 0;
    }
}

.debut-page {
    height: 100vh;
    width: 100%;
    background-image: url(./img/image-cof-lait.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}

.caption-content {
    height: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.btn.btn-border-w {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.75);
    color: #fff;
}

.btn.btn-border-w:hover {
    background: #fff;
    border: 1px solid rgba(255, 255, 255, 0.75);
    color: #000;
}

.oxford-title-size-1 {
    letter-spacing: 4px;
    font-size: 20px;
}

.oxford-title-size-4 {
    letter-spacing: 240px;
    font-weight: 400;
    font-size: 48px;
}

.font-alt {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn {
    border-radius: 0;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    padding: 8px 37px;
}

.module,
.module-small {
    position: relative;
    padding: 140px 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

::selection {
    background: #000;
    color: #fff;
}

.module-title {
    position: relative;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: #111;
    margin: 0 0 70px;
}

.localisation svg {
    height: 22px;
    margin: 0 10px -3px 25px;
}

.confort {
    text-align: center;
}

.module {
    border-top: 1px solid gray;
}

.cover {
    border-top: solid 1px;
    position: relative;
    width: 100%;
    height: 200px;
}

.check-menu {
    height: 100px;
    padding: 50px;
}

.check-menu .btn.btn-border-w {
    background: rgba(211, 211, 211, 0.171);
    border: 2px solid rgba(3, 3, 3, 0.75);
    font-size: 1.3rem;
    font-family: 'langar', sans-serif, bolder;
    color: rgb(0, 0, 0);
    border-radius: 19%;
}

.check-menu .btn.btn-border-w:hover {
    background: rgba(136, 136, 136, 0.5);
    border: 1px solid rgba(5, 5, 5, 0.75);
    border-radius: 2%;
    color: rgb(255, 255, 255);
}

@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
#menu {
    background: linear-gradient(rgba(156, 156, 156, 0.438), rgba(0, 0, 0, 0.26)), url(./img/bgmenu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font: 'langar', bolder;
}

.menu-item {
    font-family: Indie Flower, sans-serif;
    font-size: 1.8rem;
    padding: 13px;
}

.menu-item h6 {
    font-family: Caveat, sans-serif;
    font-size: 1.5rem;
}

.order {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width:1000px) {
    .ordre-image {
        display: none;
    }
}


/* /////////////////////////// */

@media (min-width: 768px) {
    .order{
        margin: 0 auto;
    }
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

#footer {
    text-align: center;
    padding: 3rem;
}

.social-icon {
    margin: 20px 10px;
}

#footer a {
    text-decoration: none;
}